<p-breadcrumb [model]="breadCrumbItems" [home]="breadCrumbHome"></p-breadcrumb>

<p-card>
  <form [formGroup]="filterForm" (ngSubmit)="filter()">
    <div class="col-md-12">
      <div class="container-header">
        <h2>Lista de Itens</h2>
      </div>
      <div class="container-content">

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <app-field label="Nome do Item" [controlRef]="filterForm.get('name')">
              <input
                type="text"
                formControlName="name"
                autocomplete="off"
                class="form-control" />
            </app-field>
          </div>
          <div class="col-md-3 col-sm-6">
            <app-field label="Unidade de Medida" [controlRef]="filterForm.get('unit')">
              <p-dropdown 
                [options]="itemUnitOptions" 
                formControlName="unit"
                optionLabel="name">
              </p-dropdown>
            </app-field>
          </div>
          <div class="col-md-3 col-sm-6">
            <app-field label="Perecível" [controlRef]="filterForm.get('perishable')">
                <div class="input-container">
                  <p-radioButton class="mr-2" label="Todos" [value]="null" name="perishable" formControlName="perishable"></p-radioButton>
                  <p-radioButton class="mr-2" label="Sim"   [value]="true" name="perishable" formControlName="perishable"></p-radioButton>
                  <p-radioButton              label="Não"  [value]="false" name="perishable" formControlName="perishable"></p-radioButton>
                </div>
            </app-field>
          </div>
          <div class="col-md-3 col-sm-6">
              <button type="submit" class="btn btn-sm btn-blue float-right" style="margin-top: 29px;"><span class="fas fa-filter"></span>Filtrar</button>
          </div>
        </div>
        
      </div>
    </div>
  </form>

  <vdp-view-list 
    [view]="view" 
    [elements]="items"
  ></vdp-view-list>
</p-card>