@import '../../../../../assets/scss/colors.scss';

:host ::ng-deep {
  > div {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
  }

  .input-container {
    height: 38px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  p-checkbox {
    height: 35px;
    display: flex;
    align-items: center;
  }

  .ui-inputtext {
    width: 100%;
  }

  .form-control {
    height: 35px;

    &.ng-invalid.ng-touched:not(:focus) {
      border-color: $red-dark !important;
    }
  }
}
