p-calendar {
  .ui-calendar {
    display: flex !important;
  
    .ui-calendar-button {
      height: 35px !important;
    }
  }

  input {
    border-color: #ced4da !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;

    &:focus {
      border-color: $blue-lighter !important;
      outline: 0 !important;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
    }
  }

  &.ng-invalid.ng-touched {
    input.ui-inputtext:not(:focus) {
      border-color: $red-dark !important;
    }
  }
}
