<div class="container-fluid">
  <div class="container-header">
    <h3>{{view.title}}</h3>
  </div>
  <div class="container-content">
    <div *ngIf="view.buttons" class="row col-md-12">
      <button
        type="button"
        *ngFor="let button of view.buttons"
        class="btn {{button.btnClass ? button.btnClass : 'btn-black'}}"
        (click)="button.onClick()"
      >
        <span *ngIf="button.iconClass" class="mg-r-4" [ngClass]="button.iconClass"></span> {{button.caption}}
      </button>
    </div>
    <vdp-grid
      [viewName]="view.viewName"
      [columns]="view.columns" 
      [elements]="elements"
      (clickSort)="onClickSort($event)">
    </vdp-grid>
  </div>
</div>