@import '../../../../styles.scss';

div {
    border-bottom: 0.5px solid $grey-light;
    margin: 18px 0px;

    &.mt-0 {
      margin-top: 0;
    }
}

span {
    font-size: $small;
    color: $grey-darker;
}