p-dropdown {
  .ui-dropdown {
    width: 100% !important;
    border-color: $grey-light !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;

    &.ui-dropdown-open {
      border-color: $blue-lighter !important;
      outline: 0 !important;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
    }
  }

  &.ng-invalid.ng-touched {
    .ui-dropdown:not(.ui-dropdown-open) {
      border-color: $red-dark !important;
    }
  }
}