@import '../../../../../assets/scss/colors.scss';
@import '../../../../../styles.scss';

:host ::ng-deep .ui-table {
  border: 0px;
}

:host ::ng-deep .ui-table-thead {
  > tr > th {
    position: relative;
    background-color: $black-normal !important;
    border: 0px !important;
    color: $white-light !important;
    padding: 0px 12px !important;
    height: 55px;
    word-break: break-word;
    text-align: left;
    outline: none;

    p {
      position: relative;
      height: 100%;
      width: fit-content;
      margin: 0;
      display: flex;
      align-items: center;
      font-family: "Montserrat-Bold";
      font-weight: 700;
      font-size: $tiny;
      text-transform: uppercase;
    }

    p-sorticon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: calc(50% - 9px);
      width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;

      .ui-sortable-column-icon {
        position: absolute;
        color: $white-light !important;
        font-size: $tiny;
  
        &.pi-sort {
          display: none;
        }

        &.pi-sort-up {
          top: 2px;
        }

        &.pi-sort-down {
          bottom: 2px;
        }
      }
    }
  }
}

:host ::ng-deep .ui-table-tbody > tr > td {
    border-bottom: 2px solid $grey-light !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
    padding: 8px 12px !important;
    word-break: break-word;
    font-family: "Montserrat";
    text-align: inherit;
    font-size: $tiny;

    i {
      &.fa-ban {
        color: $red-normal;
      }
      &.fa-check {
        color: $green-light;
      }
    }

    div.button-column:not(.btn-group) {
      display: flex;
      justify-content: flex-end;
      align-content: center;

      button {
        width: 28px;
        height: 27px;
        margin-right: 5px;

        &:last-child {
          margin-right: 0px;
        }
      }
    }



    div.dropdown-menu {
      border: 1px solid $grey-light;
      background-color: $white-light;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      border-radius: 0;
      padding: 0;

      .clickable { 
        cursor: pointer;

        &:hover {
          color: $black-normal !important;
          background-color: $grey-light;
        }
      }

      
    }
}

:host ::ng-deep .ui-sortable-column a {
    color: $white-light !important;
}

.clickable { 
    cursor: pointer;
}

.clickable:hover {
    background-color: #17a2b8;
    color: white !important;
}

.button-column {
  > button > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}