:host ::ng-deep .content-conteiner {
  display: flex;
  min-height: calc(100vh - 52px);
  margin: 0px;
  background-color: white;

  ng-component.ng-star-inserted {
    min-width: calc(100% - 225px);
  }

  ng-component.ng-star-inserted > custom-panel {
      height: calc(100vh - 52px);
      overflow-y: auto;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: column;
      padding: 20px;
  }
}

custom-menu {
    margin-top: 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

