@import './assets/scss/colors.scss';
@import './assets/scss/font.scss';
@import './assets/scss/buttons.scss';

@import './assets/scss/input.scss';
@import './assets/scss/calendar.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  color: #555;
  background-color: white;
  font-family: "Montserrat" !important;
}

h1 {
  font-size: $giant;
}

p {
  font-size: $tiny;
}

a:focus, [routerLink] {
  outline: none !important;
}

.ng-invalid-label {
  color: $error;
  font-size: 0.7em
}

html, body {
    height: 100%;
}

.ui-tabview-panels {
    border: 0px !important;
}

.width-complete {
    width: 100% !important;
}

/** SCROL **/
/* width */
::-webkit-scrollbar {
    width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}
