@import '../../../../../styles.scss';

:host ::ng-deep {
  display: flex;
  
  label {
    font-size: $small;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 21px;
  }
  
  .required {
    color: $required-tag !important;
  }
}
